---
name: CI/CD
on:
  push:
  workflow_dispatch:
  repository_dispatch:
    types: [trigger]

jobs:
  lint:
    uses: jmpa-io/depot/.github/workflows/lint.yml@main
    secrets:
      github-token: ${{ secrets.ADMIN_GITHUB_TOKEN }}

  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Test latest version of action.
      uses: ./
      with:
        webhook: ${{ secrets.SLACK_GITHUB_WEBHOOK_URL }}
        status: ${{ job.status }}
